html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-family: STHeitiSC-Light;
  font: inherit;
  vertical-align: baseline; }

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none; }

html,
body {
  width: 100%;
  height: 100%; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  font-family: arial, sans-serif; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

ins,
a {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  display: inline-block; }

input,
textarea {
  border: none;
  background: none;
  outline: none;
  -webkit-appearance: none; }

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-tap-highlight-color: rgba(0, 0, 0, 0);
  -o-tap-highlight-color: rgba(0, 0, 0, 0); }

/*html {
    font-size: $browser-default-font-size;
}*/
html {
  font-size: 37.5px; }

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-size: 14px; }

header {
  width: 100%;
  height: 44px;
  display: flex; }
  header input {
    flex: 1;
    border: 1px solid #ccc; }
  header span {
    display: inline-block;
    width: 60px;
    line-height: 44px;
    text-align: center; }

section {
  flex: 1;
  overflow: hidden; }
  section .list {
    display: flex;
    flex-direction: column; }
    section .list div h2 {
      font-size: 16px;
      font-weight: bold;
      line-height: 30px; }
    section .list div p {
      font-size: 14px;
      line-height: 30px; }
    section .list div span {
      display: inline-block;
      margin: 10px;
      padding: 5px 10px;
      border: 1px solid #ccc; }

footer {
  width: 100%;
  height: 44px;
  text-align: center;
  line-height: 44px;
  font-size: 16px;
  font-weight: bold; }

.aside {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center; }
  .aside .cons {
    width: 300px;
    height: 300px;
    background: #fff; }
    .aside .cons input, .aside .cons textarea {
      display: block; }
    .aside .cons textarea {
      width: 100%;
      height: 200px; }
    .aside .cons span {
      padding: 0 10px; }
